js2py==0.71
yfinance==0.1.70
matplotlib==3.3.3
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
keras==2.9.0
Keras-Preprocessing==1.1.2
numpy==1.23.0
sklearn==0.0
streamlit==1.10.0
pandas==1.1.5
pandas-datareader==0.10.0
pandasql==0.7.3
pandastable==0.12.2.post1
pandocfilters==1.4.2
